<% if logged_in? %>
  <%= render 'animes/animes', animes:@animes %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Animera!</h1>
      <%= link_to 'Animeraを始める!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
  <div class="text-center">
    <h2>Animeraは自分用のアニメ評価を管理するサイトです。</h2>
  </div>
<% end %>