<h1>アニメ一覧</h1>
<ul class="media-list">
  <% animes.each do |anime| %>
    <li class="media">
      <div class="media-body">
        <div>
          <h2><%= link_to anime.title, anime_path(anime) %></h2>
        </div>
        <div>
          <span class="score">score:<%= "#{anime.anime_score}点" %></span>
          <% if current_user == anime.user %>
            <%= link_to "Delete", anime, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate animes %>
</ul>
